<article>
  <h1>Panier</h1>
  <table class="table shopping-cart-table">
    <thead>
    <tr>
      <th></th>
      <th>Produit</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Prix</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sci of shoppingCartItems">
        <td>
          <button (click)="removeItem(sci)" class="remove-item-button" title="Supprimer">
            <i class="fa fa-times"></i>
          </button>
        </td>
        <td>
          <a routerLink="/produits/{{sci.product.id}}">{{sci.product.name}}</a>
        </td>
        <td>{{sci.product.price | number: '1.2-2':'fr'}}&thinsp;$</td>
        <td>
          <div class="row">
            <div class="col">
              <button (click)="decreaseItemCount(sci)" class="remove-quantity-button" title="Retirer" disabled><i class="fa fa-minus"></i></button>
            </div>
            <div class="col quantity">{{sci.item.quantity}}</div>
            <div class="col">
              <button (click)="increaseItemCount(sci)" class="add-quantity-button" title="Ajouter"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </td>
        <td class="price">{{sci.product.price * sci.item.quantity | number:'1.2-2':'fr'}}&thinsp;$</td>
      </tr>
    </tbody>
  </table>
  <p class="shopping-cart-total">Total: <strong id="total-amount">{{totalPrice | number: '1.2-2':'fr'}}&thinsp;$</strong></p>
  <a class="btn pull-right" routerLink="/commande">Commander <i class="fa fa-angle-double-right"></i></a>
  <button (click)="emptyCart()" class="btn" id="remove-all-items-button"><i class="fa fa-trash-o"></i>&nbsp; Vider le panier</button>
</article>
